@using GroceryList.Models
@model GroceryList.ViewModels.ListIngredients

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@using (Html.BeginForm("AddIngredientToList", "Lists", new { listId = Model.CurrentListId}))
{
    @Html.AntiForgeryToken()
    <div>
        <h4>List</h4>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CurrentList.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CurrentList.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CurrentList.DateCreated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CurrentList.DateCreated)
            </dd>

        </dl>
    </div>
    <h4>Items on List</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AddedIngredients.First().Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.AddedIngredients)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }

    </table>

    <div>
        @Html.DropDownListFor(x => x.SelectedIngredientId, Model.UnusedIngredients)
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add selected item to list" class="btn btn-default"/>
        </div>
    </div>
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CurrentList.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
