@using GroceryList.Models
@model GroceryList.Models.List

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>List</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

    </dl>
</div>
<div>
    @*TODO: this is causing a ysod when hitting the lists page, need to figure out why*@
    @*@Html.DropDownListFor(x => x.Id, new SelectList(Model.))*@
    @Html.DropDownListFor(x => x.SelectedIngredientId, Model.UnusedIngredients)
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
